* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: sans-serif;
    color: #fff;
    background-color: #353535;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    input {
        margin: 5px 0;
        padding: 10px;
        border-radius: 10px;
        border: none;
        outline: none;
        &:last-of-type {
            opacity: .7;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
    }
}
