* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ccc;
    font-family: sans-serif;
    font-size: 1.8rem;
}

$spaceBetweenKeys: .3rem;
$primary: #0a60ff;
$operation-keys-color: #fca400;
$clear-key-color: #ff3c00;
$screen-color: #0c1c3d;
$key-color: #fff;

@mixin hoverEffect($bcg-color) {
    &:hover {
        background-color: lighten($bcg-color, 5%);
        &:active {
            transform: scale(.8);
        }
    }
}

.container {
    width: 70%;
    height: 80%;
    padding: $spaceBetweenKeys;
    background-color: $key-color;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $spaceBetweenKeys;
    color: $key-color;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, .3);
    .key:not(#screen) {
        background-color: $primary;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
        @include hoverEffect($primary);
        &.zero {
            grid-column: 1/3;
        }
        &.equal {
            grid-column: 1/4;
        }
        &.op {
            background-color: $operation-keys-color;
            @include hoverEffect($operation-keys-color);
        }
        &.clear {
            background-color: $clear-key-color;
            @include hoverEffect($clear-key-color);
        }
    }
    #screen {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 1rem;
        grid-column: 1/5;
        background-color: $screen-color;
    } 
}

@media screen and (min-width: 1024px) {
    .container {width: 600px;}
}

@media screen and (max-width: 480px) {
    .container {width: 95%;}
}