* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin crossBar {
    display: block;
    width: calc(100% * 1.4);
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
    transform-origin: 3px 3px;
}

.container {
    form {
        input {
            display: block;
            margin: auto;
            margin-bottom: 4rem;
            padding: 10px;
            border: none;
            text-align: center;
            font-size: 3rem;
        }
        button {
            position: relative;
            display: block;
            margin: auto;
            width: 310px;
            height: 100%;
            border-radius: 50%;
            padding: 10px 20px;
            outline: none;
            border: none;
            background-color: #fff;

            span {
                position: relative;
                z-index: 1;
                font-size: 3rem;
                mix-blend-mode: difference;
                color: #00F0B5;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 30%;
                height: 100%;
                border-radius: 37.5px;
                background-color: #00F0B5;
                transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }
            &:hover {
                cursor: pointer;
                &::after {
                    width: 100%;
                }
            }
        }
    }
    .modal {
        position: fixed;
        z-index: 2;
        width: 80vw;
        height: 80vh;
        top: 10vh;
        left: 10vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000;
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s ease-in-out;
        .result {
            transform: scale(0);
            transition: transform 0.3s ease-in-out 0.3s;
        }
        &.open {
            opacity: .95;
            pointer-events: all;
            .result {
                transform: scale(1);
            }
        }
        .cross {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 60px;
            height: 60px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            transition: transform 0.6s cubic-bezier(.47,-0.99,.31,1.8);
            .bar:first-of-type {
                @include crossBar;
                transform: rotate(45deg);
            }
            .bar:last-of-type {
                @include crossBar;
                transform: rotate(-45deg);
            }
            &:hover {
                transform: rotate(90deg);
                cursor: pointer;
            }
        }
        .result {
            color: #fff;
            font-size: 4rem;
            position: relative;
            top: -10px;
        }
    }
}

