* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {font-size: 16px;}

$dice-color: #fff;
$points-dice-color: #000;
$app-background:#0e5970;
$modal-background: #002933;

@mixin fccc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: $app-background;
    font-family: 'Kavivanar', sans-serif;
    height: 100vh;
    color: $dice-color;
}

.hide {
    display: none;
}

.container {
    @include fccc;
    height: 100vh;
}

.modal {
    @include fccc;
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $modal-background;
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    &.open {
        opacity: 1;
        pointer-events: all;
        transform: scale(1);
    }
    .guide {
        @include fccc;
        width: 100%;
        margin-bottom: 30px;
        p {
            padding: 10px;
        }
        &__clue {
            color: #ff4444;
            height: 38.4px;
        }
        &__success {
            color: #67cc78;
            margin-bottom: 40px;
            text-align: center;
        }
        div {
            opacity: 1;
            cursor: default;
        }
    }
}

.dices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    justify-items: center;
}

.dice {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 10px;
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 15%;
    opacity: .8;
    transition: opacity 200ms ease-in-out;
    div {
        border-radius: 50%;
        pointer-events: none;
    }
    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

.dice-one {
    div:nth-of-type(5) {background-color: $points-dice-color;}
}

.dice-two {
    div:nth-of-type(1) {background-color: $points-dice-color;}
    div:nth-of-type(9) {background-color: $points-dice-color;}
}

.dice-three {
    div:nth-of-type(1) {background-color: $points-dice-color;}
    div:nth-of-type(5) {background-color: $points-dice-color;}
    div:nth-of-type(9) {background-color: $points-dice-color;}
}

.dice-four {
    div:nth-of-type(1) {background-color: $points-dice-color;}
    div:nth-of-type(3) {background-color: $points-dice-color;}
    div:nth-of-type(7) {background-color: $points-dice-color;}
    div:nth-of-type(9) {background-color: $points-dice-color;}
}

.dice-five {
    div:nth-of-type(1) {background-color: $points-dice-color;}
    div:nth-of-type(3) {background-color: $points-dice-color;}
    div:nth-of-type(5) {background-color: $points-dice-color;}
    div:nth-of-type(7) {background-color: $points-dice-color;}
    div:nth-of-type(9) {background-color: $points-dice-color;}
}

.dice-six {
    div:nth-of-type(1) {background-color: $points-dice-color;}
    div:nth-of-type(3) {background-color: $points-dice-color;}
    div:nth-of-type(4) {background-color: $points-dice-color;}
    div:nth-of-type(6) {background-color: $points-dice-color;}
    div:nth-of-type(7) {background-color: $points-dice-color;}
    div:nth-of-type(9) {background-color: $points-dice-color;}
}

.throw {
    @include fccc;
    height: 130px;
    .throw__btn {
        position: relative;
        z-index: 0;
        padding: 10px 30px;
        border: none;
        background-color: lighten($app-background, 3%);
        &::after {
            content: '';
            position: absolute;
            width: 0%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $modal-background;
            transition: all 0.5s;
        }
        & .throw__btn--text {
            position: relative;
            z-index: 1;
            color: #fff;
            font-family: 'Kavivanar', sans-serif;
            font-size: 1rem;
        }
        &:hover {
            cursor: pointer;
            &::after {
                background-color: $modal-background;
                width: 100%;
            }
        }
    }
}

.delete {
    transform: scale(0) ;
    transition: all 0.3s ease-in-out;
}

.replay-btn {
    display: block;
    position: relative;
    margin-top: 50px;
    padding: 10px 30px;
    background-color: $app-background;
    color: $dice-color;
    border: none;
    font-family: 'Kavivanar', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.statistics {
    @include fccc;
    width: 100%;
    position: relative;
    z-index: -1;
    &__numbers {
        width: 75%;
        div {
            padding: 1rem;
            p {
                text-align: center;
                &:last-of-type {
                    font-size: 2rem;
                }
            }
        }
    }
    &__table {
        width: 75%;
        padding-top: 1rem;
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            div {width: 33%;}
            div:nth-of-type(1) {text-align: left;}
            div:nth-of-type(2) {text-align: center;}
            div:nth-of-type(3) {text-align: right;}
            
        }
        .row:not(.row:last-of-type) {
            border-bottom: 1px solid #fff;
        }
        .row:nth-of-type(2), .row:nth-of-type(4), .row:nth-of-type(6) {
            background-color: lighten($app-background, 2%);
        }
    }
}

@media screen and (min-width: 768px) {
    :root{font-size: 20px;}

    .container {
        justify-content: space-evenly;
    }

    .statistics {
        flex-direction: row;
        padding: 2rem;
        &__numbers {
            div {
                padding: 0;
                p {
                    text-align: left;
                    &:last-of-type {
                        font-size: 3rem;
                    }
                }
            }
        }
        &__table {
            padding: 0;
        }
    }
}